<!DOCTYPE html>
<html>
<head>
	<title>Redirecting...</title>
</head>
<body>
Redirecting...
</body>
<script type="text/javascript">
	token = encodeURI('<%=token%>')
	fetch(`http://localhost:9876/?token=${token}`)
		.then((resp) => resp.text())
		.then(function (data) {
		 document.getElementsByTagName('body')[0].innerHTML = "Slack Bot installed successfully. Head back to the terminal window to continue the installation"
		})
</script>
</html>